<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro - CometShop</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="header">
        <img src="../static/Imagens/CometShop%20Logo.svg" alt="Logo Comet Shop" class="cometshop-logo">
    </header>

    <a href="login.html"><img src="../static/Imagens/voltar.png" alt="voltar" class="voltar"></a>
    <!-- Container do Formulário de Login -->
    <div class="login-container">
    <h1 id="title">Realize seu cadastro</h1>

    <!-- Campo de Nome -->
    <div class="input-field">
        <label for="nome"></label><input
                type= "text"
                id="nome"
                name="Nome"
                placeholder="Nome Completo"
        />
    </div>

    <!-- Campo de E-mail -->
    <div class="input-field">
        <label for="email"></label><input
                type="email"
                id="email"
                name="email"
                placeholder="E-mail"
                required
        />
    </div>

    <!-- Campo de Senha -->
    <div class="input-field">
        <label for="senha"></label><input
                type="password"
                id="senha"
                name="senha"
                placeholder="Senha"
                required
        />
    </div>
    <!-- Campo de Telefone -->
    <div class="input-field">
        <label for="telefone"></label><input
                type="tel"
                id="telefone"
                name="telefone"
                placeholder="Telefone"
                required
        />
    </div>
        <!-- Botão de Entrar -->
        <button type="button" id="btnCadastrar" class="login-button">Cadastrar-se</button>
    </div>

    <script src="../static/js/cadastro.js"></script>
</body>
</html>