<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comet Shop</title>
    <link rel="stylesheet" href="../static/css/categoria.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img src="../static/Imagens/CometShop%20Logo.svg" alt="Logo Comet Shop" class="logo">
    <div class="icons">
        <img src="../static/Imagens/search.png" alt="lupa">
        <input type="text" placeholder="Pesquisar..." class="search-bar">
        <img src="../static/Imagens/user.png" alt="usuário">
        <img src="../static/Imagens/sacola.png" alt="sacola"class="sacola">
    </div>
</header>

<a href="home.html"><img src="../static/Imagens/voltar.png" alt="seta" class="voltar"></a>

<main>
    <section class="category">
        <h1>Produtos para SKIN CARE</h1>
        <div class="other-categories">
            <a href="categoriaCabelos.html"><button class="other-category-button">Cabelos</button></a>
            <a href="categoriaPerfumes.html"><button class="other-category-button">Perfumaria</button></a>
            <a href="categoriaUnhas.html"><button class="other-category-button">Unhas</button></a>
            <a href="categoriaMaquiagem.html"><button class="other-category-button">Maquiagem</button></a>
            <button id="buttonCategoria" class="other-category-button">Skin Care</button>
            <a href="categoriaCorpoBanho.html"><button class="other-category-button">Corpo e banho</button></a>
        </div>
    </section>

    <div id="areaBusca">
        <div class="product-box">
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
        </div>

        <div class="product-box">
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
        </div>
    </div>

    </main>

    <footer>
        <p>&copy; 2025 Comet Shop</p>
    </footer>

    <script src="../static/js/categoria.js"></script>
    <script src="../static/js/buscar.js"></script>

</body>
</html>