<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comet Shop</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <img th:src="@{/Imagens/CometShop Logo.svg}" alt="Logo Comet Shop" class="logo">

    <div class="icons">
        <img th:src="@{/Imagens/search.png}" alt="lupa">
        <input type="text" id="buscaTexto" placeholder="Pesquisar..." class="search-bar">

        <a th:href="@{/login}" class="icon-box">
            <img th:src="@{/Imagens/user.png}" alt="usuário" class="icon">
        </a>

        <a th:href="@{/sacola}" class="icon-box">
            <img th:src="@{/Imagens/sacola.png}" alt="sacola" class="icon">
        </a>
    </div>
</header>


<img th:src="@{/Imagens/Imagens-Tela Principal/Imagem Main Site (1) (1).png}" alt="capa" class="capaPrincipal">

<div class="menu">
    <a th:href="@{/categoriaCabelos}">
        <div class="btCabelo">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Cabelos Botão.png}" alt="Cabelos">
            <div class="overlay">
                <p>CABELOS</p>
            </div>
            <p class="texto-abaixo">CABELOS</p>
        </div>
    </a>
    <a th:href="@{/categoriaPerfumes}">
        <div class="btPerfumes">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Perfumaria Botão.png}" alt="Perfumes">
            <div class="overlay">
                <p>PERFUMES</p>
            </div>
            <p class="texto-abaixo">PERFUMES</p>
        </div>
    </a>
    <a th:href="@{/categoriaUnhas}">
        <div class="btUnhas">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Unhas Imagem.png}" alt="Unhas">
            <div class="overlay">
                <p>UNHAS</p>
            </div>
            <p class="texto-abaixo">UNHAS</p>
        </div>
    </a>
    <a th:href="@{/categoriaMaquiagem}">
        <div class="btMaquiagens">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Maquiagem Botão.png}" alt="Maquiagem">
            <div class="overlay">
                <p>MAQUIAGENS</p>
            </div>
            <p class="texto-abaixo">MAQUIAGENS</p>
        </div>
    </a>
    <a th:href="@{/categoriaSkinCare}">
        <div class="btSkinCare">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Skin Care Botão.png}" alt="Skin Care">
            <div class="overlay">
                <p>SKIN CARE</p>
            </div>
            <p class="texto-abaixo">SKIN CARE</p>
        </div>
    </a>
    <a th:href="@{/categoriaCorpoBanho}">
        <div class="btCorpoBanho">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Corpo e Banho Botão.png}" alt="Corpo e Banho">
            <div class="overlay">
                <p>CORPO E BANHO</p>
            </div>
            <p class="texto-abaixo">CORPO E BANHO</p>
        </div>
    </a>
</div>

<div class="top3">
    <h2>TOP 3</h2>
    <h2>MAIS VENDIDOS</h2>
    <div class="produtos-top3">
        <div class="produto-top">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Hidratante Imagem.png}" alt="Hidratante">
            <p>Hidratante Cuide-se Bem <br>Doçura na Pessegura</p>
        </div>
        <div class="produto-top">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Miss Dior Imagem.png}" alt="Perfume">
            <p>Miss Dior <br>Blooming Bouquet</p>
        </div>
        <div class="produto-top">
            <img th:src="@{/Imagens/Imagens-Tela Principal/Hair Protein Imagem.png}" alt="Máscara">
            <p>Hair Protein - Proteína <br>Capilar Concentrada</p>
        </div>
    </div>
</div>

<section class="produtos">
    <h2>LANÇAMENTOS</h2>

    <div class="caixa-produtos">
        <div class="card-produto">
            <a th:href="@{/produto}">
                <img th:src="@{/Imagens/produto2.webp}" alt="Soft Pinch Tinted Lip Oil">
            </a>
            <p>Soft Pinch Tinted Lip Oil</p>
            <button>Adicionar à sacola</button>
        </div>
        <div class="card-produto">
            <a th:href="@{/produto}">
                <img th:src="@{/Imagens/produto2.webp}" alt="Soft Pinch Tinted Lip Oil">
            </a>
            <p>Soft Pinch Tinted Lip Oil</p>
            <button>Adicionar à sacola</button>
        </div>
        <div class="card-produto">
            <a th:href="@{/produto}">
                <img th:src="@{/Imagens/produto2.webp}" alt="Soft Pinch Tinted Lip Oil">
            </a>
            <p>Soft Pinch Tinted Lip Oil</p>
            <button>Adicionar à sacola</button>
        </div>
        <div class="card-produto">
            <a th:href="@{/produto}">
                <img th:src="@{/Imagens/produto2.webp}" alt="Soft Pinch Tinted Lip Oil">
            </a>
            <p>Soft Pinch Tinted Lip Oil</p>
            <button>Adicionar à sacola</button>
        </div>
    </div>
</section>

<section class="produtos">
    <h2>RECOMENDADOS</h2>

    <div class="caixa-produtos">
        <div class="card-produto">
            <a th:href="@{/produto}">
                <img th:src="@{/Imagens/produto2.webp}" alt="Soft Pinch Tinted Lip Oil">
            </a>
            <p>Soft Pinch Tinted Lip Oil</p>
            <button>Adicionar à sacola</button>
        </div>
        <div class="card-produto">
            <a th:href="@{/produto}">
                <img th:src="@{/Imagens/produto2.webp}" alt="Soft Pinch Tinted Lip Oil">
            </a>
            <p>Soft Pinch Tinted Lip Oil</p>
            <button>Adicionar à sacola</button>
        </div>
        <div class="card-produto">
            <a th:href="@{/produto}">
                <img th:src="@{/Imagens/produto2.webp}" alt="Soft Pinch Tinted Lip Oil">
            </a>
            <p>Soft Pinch Tinted Lip Oil</p>
            <button>Adicionar à sacola</button>
        </div>
        <div class="card-produto">
            <a th:href="@{/produto}">
                <img th:src="@{/Imagens/produto2.webp}" alt="Soft Pinch Tinted Lip Oil">
            </a>
            <p>Soft Pinch Tinted Lip Oil</p>
            <button>Adicionar à sacola</button>
        </div>
    </div>
    </section>

    <div class="img-container">
    <div class="imgPessoa">
        <img th:src="@{/Imagens/Imagens-Tela Principal/Imagem Pessoa.png}" alt="pessoa">
        <p>Eleve sua rotina de beleza com produtos que celebram sua essência, combinando cuidado e sofisticação em cada detalhe.</p>
    </div>
    <div class="imgCreme">
        <p>Hidratação intensa e delicada para sua pele, com ingredientes selecionados que transformam seu ritual de cuidado.</p>
        <img th:src="@{/Imagens/Imagens-Tela Principal/Imagem Creme.png}" alt="creme">
    </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Comet Shop</p>
        </div>
    </footer>

    <script th:src="@{/js/home.js}"></script>
    <script th:src="@{/js/buscar.js}"></script>

</body>
</html>