<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Realizada</title>
    <link rel="stylesheet" th:href="@{/css/msgCompra.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/Imagens/CometShop Logo.svg}" alt="Comet Shop">
    </div>
</header>
<div class="card">
    <h2>Compra realizada com sucesso!</h2>
    <div class="icon">✔</div>
    <p>Agradecemos pela preferência</p>
    <a href="#">Volte para a nossa tela inicial</a>
</div>
</body>
</html>
