<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento - Comet Shop</title>
    <link rel="stylesheet" th:href="@{/css/pagamento.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <img th:src="@{/Imagens/CometShop Logo.svg}" alt="">
</div>
<div class="container">
    <div class="box">
        <h2>Endereço de entrega</h2>
        <input type="text" id="cep" placeholder="Digite o CEP" oninput="buscarCep()">
        <input type="text" id="bairro" placeholder="Bairro" readonly>
        <input type="text" id="endereco" placeholder="Rua / Avenida" readonly>
        <input type="text" id="campoNumerico" placeholder="Número">
        <input type="text" placeholder="Complemento">
        <input type="text" placeholder="Telefone de contato">
        <h2>Forma de pagamento</h2>
        <label><input type="checkbox" name="pagamento" value="cartao">
            <div class="cartao">
                <input type="text" id="cartaoNumero" placeholder="Nº do cartão" maxlength="19">
                <input type="text" id="cartaoCVV" placeholder="CVV" maxlength="4">
                <input type="date" placeholder="Data de validade">
            </div></label>
        <label><input type="checkbox" name="pagamento" value="pix"> <span class="pix">Pix</span>
        </label>
    </div>
    <div class="box2">
        <div class="resumo">
            <h2>Resumo da compra</h2>
            <hr>
            <p>Quantidade de produtos: <strong>3</strong></p>
            <p>TOTAL: <strong>R$ 135,00</strong></p>
        </div>
        <button class="btn-finalizar">Finalizar Compra</button>
        <button class="btn-cancelar">Cancelar compra</button>
    </div>
</div>
<script th:src="@{/js/pagamento.js}" ></script>
</body>
</html>
