<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comet Shop</title>
    <link rel="stylesheet" href="../static/css/sacolaVazia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img src="../static/Imagens/CometShop%20Logo.svg" alt="Logo Comet Shop" class="logo">
    <div class="icons">
        <img src="../static/Imagens/search.png" alt="lupa">
        <input type="text" placeholder="Pesquisar..." class="search-bar">
        <img src="../static/Imagens/user.png" alt="usuário">
        <img src="../static/Imagens/sacola.png" alt="sacola" class="sacola">
    </div>
</header>

<a href="home.html"><img src="../static/Imagens/voltar.png" alt="seta" class="voltar"></a>

<main class="container">
    <section class="carrinho-vazio">
        <img src="../static/Imagens/sacola-vazia.png" alt="Sacola vazia" class="sacola-vazia-img">
        <h2>Sua sacola está vazia</h2>
        <p>Parece que você ainda não adicionou nenhum item à sua sacola.</p>
        <a href="/categoriaCabelos">
            <button class="btn-continuar">Continuar comprando</button>
        </a>
    </section>

    <div class="resumo">
        <h2>Resumo da compra</h2>
        <hr>
        <p>Quantidade de produtos: <strong>0</strong></p>
        <p>TOTAL: <strong>R$ 0,00</strong></p>
    </div>


    <section class="you-might-like">
        <h2>Você Também</h2>
        <h2>Pode Gostar</h2>

        <div class="product-box">
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card">
                <a href="produto.html">
                    <img src="../static/Imagens/produto2.webp" alt="Soft Pinch Tinted Lip Oil">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 Comet Shop</p>
</footer>
</body>
</html>