<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comet Shop</title>
    <link rel="stylesheet" href="../static/css/sacola.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img src="../static/Imagens/CometShop%20Logo.svg" alt="Logo Comet Shop" class="logo">
    <div class="icons">
        <img src="../static/Imagens/search.png" alt="lupa">
        <input type="text" placeholder="Pesquisar..." class="search-bar">
        <img src="../static/Imagens/user.png" alt="usuário">
        <img src="../static/Imagens/sacola.png" alt="sacola" class="sacola">
    </div>
</header>

<a href="home.html"><img src="../static/Imagens/voltar.png" alt="seta" class="voltar"></a>

<main class="container">
    <section class="carrinho">
        <div class="product-cards-container">
            <div class="product-cards-container">
                <div class="product-card">
                    <a href="produto.html">
                        <img class="product-image" src="../static/Imagens/produto.png" alt="Produto">
                    </a>
                    <div class="product-info">
                        <div class="product-title">soft pinch tinted lip oil</div>
                        <div class="product-price">R$ 135.00</div>
                        <div class="quantidade-container">
                            <button class="menos">−</button>
                            <span class="quantidade">1</span>
                            <button class="mais">+</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <a href="produto.html">
                        <img class="product-image" src="../static/Imagens/produto.png" alt="Produto">
                    </a>
                    <div class="product-info">
                        <div class="product-title">soft pinch tinted lip oil</div>
                        <div class="product-price">R$ 135.00</div>
                        <div class="quantidade-container">
                            <button class="menos">−</button>
                            <span class="quantidade">1</span>
                            <button class="mais">+</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <a href="produto.html">
                        <img class="product-image" src="../static/Imagens/produto.png" alt="Produto">
                    </a>
                    <div class="product-info">
                        <div class="product-title">soft pinch tinted lip oil</div>
                        <div class="product-price">R$ 135.00</div>
                        <div class="quantidade-container">
                            <button class="menos">−</button>
                            <span class="quantidade">1</span>
                            <button class="mais">+</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="resumo">
            <h2>Resumo da compra</h2>
            <hr>
            <p>Quantidade de produtos: <strong>0</strong></p>
            <p>TOTAL: <strong>R$ 0,00</strong></p>
            <a>
                <button class="btn-finalizar">Finalizar Compra</button>
            </a>
        </div>
    </section>

    <section class="you-might-like">
        <h2>Você Também</h2>
        <h2>Pode Gostar</h2>

        <div class="product-box">
            <div class="product-card2">
                <a href="produto.html">
                    <img class="product-image" src="../static/Imagens/produto2.webp" alt="Produto">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card2">
                <a href="produto.html">
                    <img class="product-image" src="../static/Imagens/produto2.webp" alt="Produto">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card2">
                <a href="produto.html">
                    <img class="product-image" src="../static/Imagens/produto2.webp" alt="Produto">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
            <div class="product-card2">
                <a href="produto.html">
                    <img class="product-image" src="../static/Imagens/produto2.webp" alt="Produto">
                </a>
                <p>Soft Pinch Tinted Lip Oil</p>
                <button>Adicionar à sacola</button>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 Comet Shop</p>
</footer>

<script src="../static/js/sacola.js"></script>

</body>
</html>