<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comet Shop</title>
    <link rel="stylesheet" href="../../static/css/areaAdmin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <img src="../../static/Imagens/CometShop%20Logo.svg" alt="Logo" />
</div>

<div class="container">
    <div class="sidebar">
        <a href="areaAdminCliente.html">CLIENTES</a>
        <a href="areaAdminProduto.html">PRODUTOS</a>
        <a href="areaAdminPedido.html">PEDIDOS</a>
        <a href="areaAdiminEstoque.html">ESTOQUE</a>
    </div>

    <div class="content">
        <div class="buttons">
            <button>ADICIONAR</button>
            <button>LER</button>
            <button>EDITAR</button>
            <button>REMOVER</button>
        </div>
    </div>
</div>
</body>
</html>
