<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin - Usuários</title>
    <link rel="stylesheet" th:href="@{/css/areaadmin.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
<div class="header">
    <img class="logo" th:src="@{/imagens/CometShop Logo.svg}" alt="Logo" />
</div>

<div class="container">
    <div class="sidebar">
        <a th:href="@{/admin/usuarios}">USUÁRIOS</a>
        <a id="buttonAdmin" th:href="@{/admin/produtos}">PRODUTOS</a>
        <a th:href="@{/admin/pedidos}">PEDIDOS</a>
        <a th:href="@{/admin/estoque}">ESTOQUE</a>
    </div>

    <div class="content">
        <a id="novo" th:href="@{/admin/produtos/novo}">Novo Produto</a>

        <table>
            <thead>
            <tr><th>ID</th><th>Nome</th><th>Preço</th><th>Descrição</th><th>Ações</th></tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}">1</td>
                <td th:text="${produto.nome}">Produto</td>
                <td th:text="${produto.preco}">100.00</td>
                <td th:text="${produto.descricao}">Descricao</td>
                <td>
                    <a class="acao" th:href="@{|/admin/produtos/editar/${produto.id}|}">EDITAR</a>
                    <a class="acao" th:href="@{|/admin/produtos/excluir/${produto.id}|}" onclick="return confirm('Confirma exclusão?')">EXCLUIR</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
