<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin - Usuários</title>
    <link rel="stylesheet" th:href="@{/css/areaadmin.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Klee+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
<div class="header">
    <img class="logo"  th:src="@{/imagens/CometShop Logo.svg}" alt="Logo" />
</div>

<div class="container">
    <div class="sidebar">
        <a id="buttonAdmin" th:href="@{/admin/usuarios}">USUÁRIOS</a>
        <a th:href="@{/admin/produtos}">PRODUTOS</a>
        <a th:href="@{/admin/pedidos}">PEDIDOS</a>
        <a th:href="@{/admin/estoque}">ESTOQUE</a>
    </div>

    <div class="content">
        <a id="novo" th:href="@{/admin/usuarios/novo}">Novo Usuário</a>
        <table>
            <thead>
            <tr><th>ID</th><th>Nome</th><th>Email</th><th>Telefone</th><th>Ações</th></tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}">1</td>
                <td th:text="${usuario.nomeCompleto}">Fulano</td>
                <td th:text="${usuario.email}">email@example.com</td>
                <td th:text="${usuario.telefone}">99999-9999</td>
                <td>
                    <a class="acao" th:href="@{|/admin/usuarios/editar/${usuario.id}|}">EDITAR</a>
                    <a class="acao" th:href="@{|/admin/usuarios/excluir/${usuario.id}|}" onclick="return confirm('Confirma exclusão?')">EXCLUIR</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
