<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produto</title>
</head>
<body>

<h1 th:text="${produto.id != null} ? 'Editar Produto' : 'Novo Produto'">Produto</h1>

<form th:action="@{/areaAdminProduto/salvar}" th:object="${produto}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Nome:</label>
    <input type="text" th:field="*{nome}" /><br/>

    <label>Preço:</label>
    <input type="number" step="0.01" th:field="*{preco}" /><br/>

    <label>Descrição:</label>
    <input type="text" th:field="*{descricao}" /><br/>

    <label>Categoria (ID):</label>
    <input type="number" th:field="*{cod_categoria}" /><br/>


    <button type="submit">Salvar</button>
</form>

<a th:href="@{/areaAdminProduto}">Voltar</a>

</body>
</html>
