<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/admin/produtos/salvar}" method="post" th:object="${produto}">
        <input type="hidden" th:field="*{id}" />

        <label>Nome:</label>
        <input type="text" th:field="*{nome}" />

        <label>Preço:</label>
        <input type="number" th:field="*{preco}" step="0.01" />

        <label>Descrição:</label>
        <textarea th:field="*{descricao}"></textarea>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>