* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#FDFBF8;
    height: 650px;
}

.header {
    background-color: #FDF6F0;
    height: 75px;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #620246;
}

.logo {
    width: 145px;
}

.container {
    display: flex;
    height: 585px;
}

#novo{
    min-width: 120px;
    max-width: 210px;
    height: 40px;
    align-self: flex-end;
    margin-right: 60px;
    margin-top: 40px;
    padding: 12px;
    background-color: #a02c78;
    color: #ffffff;
    border: 1px solid #620246;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    font-family: "aboreto";
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}

.sidebar {
    width: 300px;
    background-color: #620246;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    gap: 5%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#buttonAdmin{
    background-color: #FDF6F0;
    color: #620246;
    font-weight: bold;
}

.sidebar a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #a02c78;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    font-family: "Aboreto", cursive;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}


.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #620246;
}

table {
    border: 1px solid #620246;
    padding: 5px 0;
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1100px;
    text-align: center;
    height: auto;
    margin-top: 20px;
}

th, td {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    font-family: "klee one";
    border-bottom: 1px solid #620246;
}

th {
    color: #620246;
    font-weight: bold;
    border-bottom: 1px solid #620246;
}

td a {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
    font-family: "klee one";
    font-weight: bold;
    color: #620246;
    border-left: 1px solid #620246;
    border-right: 1px solid #620246;
}

.acao{
    text-decoration: none;
}

#title {
    font-family: "playfair display";
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 30px;
}

#voltar{
    width: 95px;
    margin-top: -5px;
    margin-left: 25px;
    position: absolute;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #FCF1F8;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: auto;
    margin-top: 50px;
}

form label {
    font-weight: bold;
    color: #620246;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="number"],
form textarea {
    height: 45px;
    width: 550px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: "klee one";
    outline: none;
}

form button {
    width: 300px;
    height: 40px;
    align-items: end;
    background-color: #620246;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: "klee one";
    cursor: pointer;
    margin-top: 10px;
}

