body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
}

.header {
    background-color: #FDF6F0;
    height: 60px;
    text-align: center;
    padding: 10px;
    position: relative;
    border-bottom: 2px solid #620246;
    margin-bottom: 40px;
}

.cometshop-logo {
    width: 145px;
}

.voltar{
    width: 95px;
    margin-top: -5px;
    margin-left: 15px;
    position: absolute;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #FCF1F8;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    height: 400px;
    margin-top: 80px;
}



#title {
    font-family: "playfair display";
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 30px;
}

input {
    height: 30px;
    width: 550px;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: "klee one";
    outline: none;
}

input::placeholder{
    color: #620246;
}

.login-button {
    width: 380px;
    height: 45px;
    align-items: end;
    background-color: #620246;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: "klee one";
    cursor: pointer;
    margin-top: 40px;
}

.register-link{
    margin-top: 20px;
    font-family: "klee one";

    a{
        color: #620246;
    }
}


