body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FDF6F0;
    height: 60px;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #620246;
    margin-bottom: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}


.cometshop-logo {
    width: 145px;
}

.voltar{
    width: 95px;
    margin-top: -50px;
    margin-left: 15px;
    position: absolute;
}


.carrinho {
    display: flex;
    justify-content: space-evenly;
    margin-top: 170px;
}

.product-cards-container{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-card {
    display: flex;
    align-items: center;
    background-color: #fdf6f0;
    border-radius: 20px;
    padding: 20px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 150px;
    width: 620px;
    gap: 20px;
    position: relative;
}

.product-image {
    width: 155px;
    border-radius: 15px;
    height: 180px;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.product-title {
    font-family: "aboreto";
    font-size: 25px;
    margin-top: 10px;
    color: #000;
}

.product-price {
    font-family: "aboreto";
    font-size: 23px;
    font-weight: bold;
    color: #620246;
    margin-top: auto;
}

.quantity-selector {
    display: flex;
    align-items: center;
    border: 1.5px solid #620246;
    border-radius: 20px;
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    padding: 3px;
}

.quantity-selector button {
    background: none;
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    color: #620246;
    cursor: pointer;
}

.quantity-selector span {
    padding: 0 15px;
    font-size: 20px;
}


.resumo {
    background: #FCF1F8;
    padding: 10px 40px;
    border-radius: 10px;
    width: 430px;
    height: 340px;
    box-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 150px;
    align-self: flex-start;
}

.resumo h2 {
    margin-bottom: 10px;
    font-size: 35px;
    font-family: "aboreto";
    color: #620246;
    margin-left: 0;
}

.resumo hr {
    background-color: #620246;
    height: 1px;
    border: none;
    margin-bottom: 20px;
}

.resumo p {
    font-size: 18px;
    font-family: "klee one";

}

.resumo p strong {
    font-size: 30px;
    color: #620246;
}

.btn-finalizar {
    height: 50px;
    width: 100%;
    background-color: #620246;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: "klee one";
    font-size: 18px;
    margin-top: 50px;
}

.you-might-like {
    margin-top: 60px;
    padding-top: 0.5px;
    background-color: #FDF6F0;
    height: 720px;
}

h2{
    font-family: "playfair display";
    font-size: 45px;
    color: #620246;
    font-weight: 400;
    margin-left: 75px;
}

h2:nth-child(2){
    margin-top: -50px;
    margin-left: 160px;
}

.product-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product-card2 {
    width: 280px;
    height: 400px;
    text-align: center;
    background-color: transparent;
}

.product-card2 img {
    width: 280px;
    height: 330px;
}

.product-card2 p{
    font-family: "aboreto";
    font-size: 25px;
    text-align: start;
}

.product-card2 button{
    height: 45px;
    width: 280px;
    font-family: "Klee one";
    background-color: #620246;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 7px;
}

footer {
    background-color: #620246;
    padding: 30px;
    text-align: center;
    margin-top: auto;
    width: 96%;
    color: white;
}

